<%- include('../partials/header') %>

<main>
    <h2>Dodaj kartę</h2>
    <form action="/add" method="POST">
        <input type="text" name="name" placeholder="Nazwa" required><br>
        <input type="text" name="rarity" placeholder="Rzadkość (Common, Rare, Epic, Legendary, Champion)" required><br>
        <input type="number" name="elixir" placeholder="Ilość eliksiru 1-9" required><br>
        <textarea name="opinion" placeholder="Opinia o karcie"></textarea><br>
        <input type="password" name="password" placeholder="Podaj hasło" required><br>
        <button type="submit">Zapisz</button>
    </form>
</main>
<%- include('../partials/footer') %>