<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NoSQL Clash Royale Cards</title>
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
    <div id="lower_layer">
          <div id="higher_layer">
        <header>
        <h1>Clash Royale Cards app</h1>
        <nav>
            <a href="/">Lista</a>
            <a href="/add">Dodaj kartę</a>
        </nav>
    </header>


  
    
